/* --- STYLES FOR AUTH MODAL --- */
.auth-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  max-width: 90vw;
  background-color: var(--color-bg-primary);
  border-radius: 12px;
  padding: 4rem 5rem;
  box-shadow: 0 2rem 4rem var(--color-shadow);
  z-index: 1000;
}
.auth__form {
  display: grid;
  gap: 1.5rem;
  label {
    font-size: 1.6rem;
    font-weight: 600;
  }
  input {
    font-size: 1.6rem;
    padding: 1.2rem 1.5rem;
    border: 2px solid var(--color-border);
    border-radius: 8px;
    width: 100%;
  }
}
.auth__heading {
  font-size: 2.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-align: center;
}
.auth__btn {
  margin-top: 1rem;
  justify-self: center;
}

/* --- STYLES FOR LOGGED-IN USER & OTHER DROPDOWNS --- */
.nav__user-menu,
.bookmarks,
.diet-filters__menu {
  position: absolute;
  top: 90%;
  right: 0;
  background-color: var(--color-bg-primary);
  border-radius: 8px;
  box-shadow: 0 0.5rem 1.5rem var(--color-shadow);
  padding: 0.5rem;
  z-index: 100;
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s;
}

.nav__item--auth:hover .nav__user-menu,
.nav__btn--bookmarks:hover + .bookmarks,
.bookmarks:hover,
.diet-filters:hover .diet-filters__menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav__btn.nav__btn--logout {
  width: 100%;
  padding: 0.8rem 2rem;
  justify-content: flex-start;
  color: var(--color-text-secondary);
  background: none;
  &:hover {
    background-color: var(--color-bg-tertiary);
    color: var(--color-primary);
    transform: none;
  }
  svg {
    display: none;
  }
}
