.header {
  grid-area: head;
  background-color: var(--color-bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  gap: 2rem;
  box-shadow: 0 2px 10px var(--color-shadow);
  transition: all 0.3s ease;
  position: relative;
}

.header > a {
  display: flex;
  align-items: center;
  height: 50px;
  flex-shrink: 0;
}

.header__logo {
  height: 100%;
  width: auto;
  transition: opacity 0.3s ease;
}

.header__logo-light {
  opacity: 1;
  visibility: visible;
}
.header__logo-dark {
  opacity: 0;
  visibility: hidden;
}

/* On dark theme, simply flip the opacity */
[data-theme='dark'] .header {
  .header__logo-light {
    opacity: 0;
    visibility: hidden;
  }

  .header__logo-dark {
    opacity: 1;
    visibility: visible;
  }
}

.search {
  flex-grow: 1;
  max-width: 50rem;
  margin: 0 2rem;
  background-color: var(--color-bg-secondary);
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;

  &:focus-within {
    transform: scale(1.02);
    box-shadow: 0 0.4rem 1.5rem var(--color-shadow);
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-primary);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: var(--color-text-primary);
    font-size: 1.7rem;
    width: 100%;
  }

  &__btn {
    font-weight: 600;
    font-family: inherit;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__btn {
    font-family: inherit;
    color: var(--color-text-primary);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    height: 100%;

    svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: var(--color-primary);
      margin-right: 0.7rem;
    }

    &:hover {
      color: var(--color-primary);
      transform: scale(1.05);
    }
  }
}

.bookmarks {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  width: 40rem;
  background-color: var(--color-bg-primary);
  box-shadow: 0 0.8rem 5rem 2rem var(--color-shadow);
  border-radius: 0.8rem;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s;

  &:hover,
  .nav__btn--bookmarks:hover + & {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__btn--theme {
  .nav__icon--moon {
    display: block;
  }
  .nav__icon--sun {
    display: none;
  }
}
[data-theme='dark'] .nav__btn--theme {
  .nav__icon--moon {
    display: none;
  }
  .nav__icon--sun {
    display: block;
  }
}

@media only screen and (max-width: $bp-medium) {
  .header {
    flex-wrap: wrap;
    padding: 2rem;
  }
  .search {
    order: 3;
    flex-basis: 100%;
    margin: 1.5rem 0 0 0;
  }
}

.hidden {
  display: none !important;
}
